@media (max-width: 1032px) {
    .about-text {
      padding-left: 10px;
    }
  }
  
  @media (max-width: 991px) {
    .home-text h2 {
      font-size: 20px;
    }
    .contact-info-item .social-links a {
      height: 40px;
      width: 40px;
    }
    .contact-info-item h3 {
      font-size: 20px;
    }
    .contact-info-item p {
      font-size: 18px;
    }
    .blog-item-thumbnail {
      padding: 30px;
    }
    .container {
      padding: 0;
    }
    .home-text,
    .home-img {
      width: 100%;
      margin-left: -15px;
    }
    .home-text {
      text-align: center;
    }
    .home-img {
      order: -1;
    }
    .home-img .img-box {
      max-width: 300px;
    }
    .home-text .btn {
      margin: 0 7px 15px;
    }
    .portfolio-item {
      width: calc(50% - 30px);
    }
    .blog-item {
      margin: 0 40px 80px;
    }
  }
  
  @media (max-width: 767px) {
    .contact-form,
    .contact-info,
    .about-img,
    .about-text {
      width: 100%;
    }
    .about-text {
      margin: 20px;
      margin-top: 30px;
    }
    .about-text h3 {
      text-align: center;
      font-size: 27px;
    }
    .about-text p {
      margin: 10px;
    }
    .contact-info {
      order: -1;
      margin-bottom: 15px;
    }
    .contact-info-item {
      padding: 0;
    }
    .portfolio-item {
      width: calc(100% - 30px);
    }
    .pp-inner {
      padding: 30px 15px;
    }
    .blog-item {
      width: calc(100%);
      margin: 1px;
      padding: 10px;
    }
    .blog-item-thumbnail {
      padding: 15px;
      background-color: var(--white-alpha-25);
      border: 1px solid var(--white-alpha-40);
      border-radius: 10px;
    }
    .blog-item-thumbnail img {
      width: 100%;
      border-radius: 10px;
    }
  }
  
  @media (max-width: 550px) {
    .about-text p {
      font-size: 16px;
    }
  }
  
  @media (max-width: 575px) {
    .header .nav-inner ul li a {
      font-size: 35px;
    }
    .home-text h1 {
      font-size: 30px;
    }
    .home-text h2 {
      font-size: 18px;
    }
    .pp-header h3 {
      font-size: 20px;
    }
    .blog-item {
      width: calc(100%);
      margin: 10px;
      padding: 0;
    }
    .blog-item-thumbnail {
      padding: 12px;
      background-color: var(--white-alpha-25);
      border: 1px solid var(--white-alpha-40);
      border-radius: 10px;
    }
    .blog-item-thumbnail img {
      width: 100%;
      border-radius: 10px;
    }
    .home-box,
    .home-img {
      width: 100%;
      margin-left: -22px;
    }
    .blog-item-title {
      font-size: 20px;
    }
  }
  
  @media (max-width: 438px) {
    .contact-info-item h3 {
      font-size: 18px;
    }
    .contact-info-item p {
      margin-bottom: 20px;
    }
    .contact-info-item {
      margin: auto;
      width: 100%;
    }
    .contact-form {
      margin-top: 20px;
    }
    .about-text .skills {
      font-size: 15px;
    }
    .view-project-btn,
    .blog-item button a {
      font-size: 16px;
    }
    .flex {
      gap: 60px;
    }
  }